@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";
}

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success text-center">@ViewBag.Message</div>
    }
    <div class="card">
        <div class="card-body pt-2">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="oldPassword" class="form-label fw-bold">Old Password</label>
                    <div class="input-group">
                        <input type="password" name="oldPassword" class="form-control" required minlength="8" id="oldPassword" placeholder="Enter old password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-eye-slash showpasso"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="newPassword" class="form-label fw-bold">New Password</label>
                    <div class="input-group">
                        <input type="password" name="newPassword" class="form-control" required minlength="8" id="newPassword" placeholder="Enter new password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-eye-slash showpassn"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="confirmPassword" class="form-label fw-bold">Confirm New Password</label>
                    <div class="input-group">
                        <input type="password" name="confirmPassword" class="form-control" required minlength="8" id="confirmPassword" placeholder="Confirm new password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-eye-slash showpassc"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-10">
                    <div>
                        <button type="submit" class="btn btn-success"><i class="fas fa-save me-2"></i> Save</button>
                        <button class="btn btn-secondary" onclick="history.back()">
                            <i class="fas fa-arrow-left me-2"></i> Back
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

}


@section scripts {
    <script>
        $(".showpasso").click(function () {
            $("#oldPassword").attr("type", "text");
            $(this).removeClass("fa-eye-slash").addClass("fa-eye");
        });
        $(".showpasso").on("mouseleave", function () {
            $("#oldPassword").attr("type", "password");
            $(this).removeClass("fa-eye").addClass("fa-eye-slash");
        });

        $(".showpassn").click(function () {
            $("#newPassword").attr("type", "text");
            $(this).removeClass("fa-eye-slash").addClass("fa-eye");
        });
        $(".showpassn").on("mouseleave", function () {
            $("#newPassword").attr("type", "password");
            $(this).removeClass("fa-eye").addClass("fa-eye-slash");
        });

        $(".showpassc").click(function () {
            $("#confirmPassword").attr("type", "text");
            $(this).removeClass("fa-eye-slash").addClass("fa-eye");
        });
        $(".showpassc").on("mouseleave", function () {
            $("#confirmPassword").attr("type", "password");
            $(this).removeClass("fa-eye").addClass("fa-eye-slash");
        });

        // Client-side confirm password check
        $("form").submit(function () {

            return true;
        });
    </script>
}
